@import '../../../node_modules/@syncfusion/ej2-angular-navigations/styles/material.css';
@import '../../../node_modules/@syncfusion/ej2-base/styles/material.css';
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

mat-form-field {
  width: 500px;
}

.example-spacer {
  margin-left: 25%;
}

.icon-spacer {
  flex: 1 1 auto;
}

table {
  width: 100%;
}

.profile-icon {
  font-size:25px;
  color:rgb(189, 35, 35);
  padding-top:15px;
}
