@import '../../../node_modules/@syncfusion/ej2-angular-navigations/styles/material.css';
@import '../../../node_modules/@syncfusion/ej2-base/styles/material.css';

.mat-row {
  height: auto;
}

.mat-cell {
  padding: 8px 8px 8px 0;
}

.mat-header-cell{
  padding: 8px 8px 8px 0;
}

table {
  width: 100%;
}

.icon {
  position: relative;
  bottom:3px;
  font-size:22px;
  color:#4aa056;
}

.cases_panel {
  border-top-color:#4aa056;
  border-top-style:solid;
  border-top-width:2px;
}

.e-listview .e-list-parent {
  margin: 0 ;
  padding: 15px 0 15px 0 ;
}

.e-listview .e-list-group-item {
  background-color: #ffffff ;
}

body {
  overflow: hidden;
}

.e-listview.e-list-template .e-list-wrapper.e-list-multi-line.e-list-avatar .e-avatar {
  top: 1.5666em;
  border-radius: 50%;
  border-color: #4f4b4b ;
  border: 1px solid #BADA55;
}

.e-listview {
  overflow: initial;
  margin:10px 20px 0px 20px;
}

.mat-form-field {
  font-size: 14px;
  width: 40%;
  margin-left: 25%;
}
