<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<mat-toolbar class="example-header">
  <div id="left">
    <span id="hamburger" class="e-icons menu default" (click)="openClick()"></span>
  </div>
  <img routerLink="/" src="../assets/rsa-logo.png" width="80px" style="padding-left:40px;">
  <span class="example-spacer"></span>

  <span class="icon-spacer"></span>
  <i class="material-icons profile-icon">list</i>
  &nbsp;&nbsp;
  <i class="material-icons profile-icon">help</i>
  &nbsp;&nbsp;
  <i class="material-icons profile-icon">settings</i>
  &nbsp;&nbsp;
  <i class="material-icons profile-icon">account_circle</i>
</mat-toolbar>

<router-outlet></router-outlet>
