<div>
  <div>
    <mat-toolbar class="example-header">
      <button mat-button (click)="back()">
        <mat-icon aria-hidden="false" aria-label="Example home icon" style="font-size: 30px;">arrow_back</mat-icon>
        <img src="../assets/rsa-logo.png" width="80px" style="padding-left:10px;margin-top:5px;">
      </button>
      <span class="icon-spacer"></span>
      <i class="material-icons profile-icon">list</i>
      &nbsp;&nbsp;
      <i class="material-icons profile-icon">help</i>
      &nbsp;&nbsp;
      <i class="material-icons profile-icon">settings</i>
      &nbsp;&nbsp;
      <i class="material-icons profile-icon">account_circle</i>
    </mat-toolbar>
  </div>

  <div>
    <!-- List -->
    <mat-card class="dashboard-card mat-elevation-z8" style="background-color: rgb(245 245 245);">
      <mat-card-header style="text-align:center;display: inline;">
        <mat-card-title style="color:brown">{{type}} Title</mat-card-title>
        <mat-card-subtitle style="color:#676767" *ngIf="data && data[0] && type === 'Article'">{{data[0].Title}}
        </mat-card-subtitle>
        <mat-card-subtitle style="color:#676767" *ngIf="data && data[0] && type === 'Case'">{{data[0].Subject}}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions style="text-align: center;">
        <button mat-stroked-button>Open {{type}}</button>
      </mat-card-actions>
      <mat-card-content class="dashboard-card-content">
        <mat-grid-list cols="5" rowHeight="1:1">
          <div *ngFor="let column of displayedColumns;">
            <mat-grid-tile colspan="1" *ngIf="data && data[0] && data[0][column] && data[0][column].length > 2" rowspan="1" class="script-menu"
              style="padding:0px; margin:0px;">
              <mat-card class="dashboard-card mat-elevation-z8">
                <mat-card-header style="text-align:center;display: inline;font-size: small;">
                  <mat-card-title style="font-size: 11px;color:brown">{{column}}</mat-card-title>
                </mat-card-header>
                <mat-card-content [style.overflow]="'auto'" [style.height.px]="'150'" class="dashboard-card-content">
                  <h4
                    *ngIf="isNotString(data[0][column]) || (data[0] && data[0][column] && data[0][column].length < 30)"
                    style="color:#676767">{{data[0][column]}}</h4>
                  <div *ngIf="data[0] && data[0][column] && data[0][column].length > 30">
                    <button mat-stroked-button (click)="open(content)">
                      Open {{column}}
                    </button>
                    <ng-template #content let-modal>
                      <div class="modal-header">
                        <h4 class="modal-title" id="modal-basic-title">
                          {{column}}
                        </h4>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">

                          <span aria-hidden="true">
                            ×
                          </span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <h4>{{data[0][column]}}</h4>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">
                          Close
                        </button>
                      </div>
                    </ng-template>
                  </div>
                </mat-card-content>
              </mat-card>
            </mat-grid-tile>
          </div>
        </mat-grid-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>
