<div style="text-align: center; margin-top: 10%;">
  <div>
    <img src="../assets/rsa-logo.png" width="200px">
  </div>

  <h1 class="h1style">AI Powered CS</h1>

  <div id="cover">
    <form method="get" action="" autocomplete="off">
      <form class="tb" autocomplete="off">
        <div class="td">
          <input [(ngModel)]="searchText" (input)="searchPosts($any($event.target).value)" name="searchText" type="text"
            placeholder="Search" required>
        </div>
        <div class="td" id="s-cover">
          <button type="submit" (click)="navigate('search')">
            <div id="s-circle"></div>
            <span></span>
          </button>
        </div>
      </form>
    </form>
  </div>
  <div class="container" style="text-align: center; color: brown;">
    <label style="font-size: large;">Filter by:</label>&nbsp;&nbsp;
    <label style="font-size: large;">
      <input type="checkbox" [(ngModel)]="article" data-md-icheck />
      Articles
    </label>&nbsp;&nbsp;
    <label style="font-size: large;">
      <input type="checkbox" [(ngModel)]="case" data-md-icheck />
      Cases
    </label>&nbsp;&nbsp;
    <label style="font-size: large;">
      <input type="checkbox" [(ngModel)]="defect" data-md-icheck />
      Defects
    </label>
  </div>
</div>
